@import "tailwindcss";
h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
    color: #000000;
    font-weight: bold;
}
input {
    border: 2px solid #05000c;
    background-color: #f0f0f0;
    padding: 0.5rem;
    margin-bottom: 1rem;
    font-size: 16px;
    color: #000;
    border-radius: 4px;
}
form {
    border: 11px solid #ffffff2c;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    margin: auto;
    background-color: #e9e7e5;
}
body {
   background-color: rgb(223, 127, 0);
    color: #333;
  
 
  
    
   
}
.resultados {
    border: 2px solid #05000c;
    background-color: #f0f0f0;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 4px;
    
}
button {
    
    color: #fff;
    padding: 0.5rem;
    margin: 1px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}
#root{
    background-color: rgb(180, 179, 178);
}
.calcular{
    background-color: green;
}
.reiniciar{
    background-color: red;
}
