@import "tailwindcss";

.registro-container h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
    color: #ffffff;
    font-weight: bold;
}

.registro-form {
    border: 11px solid #ffffff2c;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 400px;
    margin: auto;
    background-color: rgba(30, 41, 59, 0.7);
    /* Dark slate semi-transparent */
    border-radius: 8px;
}

.registro-form input {
    border: 1px solid rgba(59, 130, 246, 0.5);
    background-color: rgba(15, 23, 42, 0.5);
    padding: 0.75rem;
    margin-bottom: 1rem;
    font-size: 16px;
    color: #fff;
    border-radius: 6px;
}

.resultados-box {
    border: 1px solid rgba(59, 130, 246, 0.3);
    background-color: rgba(30, 41, 59, 0.5);
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 6px;
}